/* 
Posicionamiento             --> static, absolute, relative, fixed
Modelo de caja (Box model)  --> margin, border, padding, content
Tipografía                  --> tipos, tamaños de fuente, etc
Estilos visuales            --> box-shadow, border-radius, gradient, etc
Otros                       --> reglas CSS y más
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

/*Inicio de cabecera*/

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    background:linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img{
    width: 150px;
    height: 24px;
    margin-top: 130px;
    align-self: center;
}

.header--title--container{
    width: 90%;
    min-height: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header--title--container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title--container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title--container .header--button{
    position: absolute;
    left: calc(50% - 115px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--title--container span{
    display: inline-block;
    background-image: url(./assets/icons/down-arrow.svg);
    width: 13px;
    height: 8px;
    margin-left: 10px;
}

/*Fin de cabecera*/

/*Inicio de Sección 1*/

main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main--exchange--container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main--exchange--container--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main--exchange--container .backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url(./assets/img/Bitcoin.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main--exchange--container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main--exchange--container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

/*Fin de Sección 1*/

/*Inicio de Cuadro de comisiones*/

.main--currency--table, .main--comisiones--table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main--currency--table .currency--table--title,
.main--comisiones--table .comisiones--table--title{
   margin-bottom: 15px;
   font-size: 1.8rem;
   font-weight: bold;
   line-height: 2.3rem;
}

.main--currency--table .currency--table--title{
   color: var(--bitcoin-orange);
}

.main--comisiones--table .comisiones--table--title{
    color: var(--secondary-blue);
 }

.currency--table--container, .comisiones--table--container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency--table--container table, .comisiones--table--container table{
    width: 100%;
    height: 100%;
}

.currency--table--container td, .comisiones--table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.currency--table--container .table__top-left,
.comisiones--table--container .table__top-left{
    border-radius: 15px 0 0 0;
}

.currency--table--container .table__top-right,
.comisiones--table--container .table__top-right{
    border-radius: 0 15px 0 0;
}

.currency--table--container .table__bottom-right,
.comisiones--table--container .table__bottom-right{
    border-radius: 0 0 15px 0;
}

.currency--table--container .table__bottom-left,
.comisiones--table--container .table__bottom-left{
    border-radius: 0 0 0 15px;
}

.currency--table--container .table__right,
.comisiones--table--container .table__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.currency--table--container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(./assets/icons/trending-down.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency--table--container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(./assets/icons/trending-up.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency--table--date, .comisiones--table--date{
    width: 190px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    height: 30px;
    border-radius: 8px;
}

.currency--table--date{
    background-color: #FFE9D5;
}

.comisiones--table--date{
    background-color: var(--soft-blue);
}

.currency--table--date p, .comisiones--table--date p{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #282623;
}

/*Fin de Cuadro de comisiones*/

/* Inicio de sección de productos*/

.main--product-detail{
    margin-top: 20px;
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background: #201E1C;
}

.product-detail--batata-logo{
    position: absolute;
    width: 40px;
    height: 25px;
    background-image: url(./assets/icons/batata.svg);
    top: -10px;
    left: calc(50% - 20px);
}

.product-detail--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
}

.product-detail--title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product-detail--title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
/* Inicio de sección de productos*/

/*Inicio de Contenido de las tarjetas*/

.product-detail--card{
    width: 100%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: #282623;
    border-radius: 5px;
    box-shadow: 0 4px 8 rgba(0 0 0 0.16);
}

.product--card-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product--card-body{
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: #808080;
}

/*Fin de los Contenidos de las tarjetas*/

/* Inicio de Códigos para los 
iconos de cada tarjeta*/

.product-detail--card .clock{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(./assets/icons/clock.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-detail--card .eye{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(./assets/icons/eye.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.product-detail--card .money{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(./assets/icons/dollar-sign.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-detail--card .select{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(./assets/icons/check-circle.svg);
    background-position: center;
    background-size: cover;
    background-position: center;
}

/* Fin de Códigos para los 
iconos de cada tarjeta*/

/*Inicio de sección de imagen*/

.bitcoin--image-container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url(./assets/img/bitcoinbaby2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bitcoin--image-container h2{
    padding-top: 65px;
    color: var(--just-white);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    text-align: center;
}

/*Fin de sección de imagen*/

/*Inicio de sección de planes*/

.main-plans-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}

.plans--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    padding-bottom: 50px;
}

.plans--title h2{
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.plans--title p{
    margin-top: 24px;
    color: #757575;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;

}

/*Fin de sección de planes*/

/*Inicio de contenidos de precios*/

.plans-container--card{
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
    padding: 0 15px;
    background: var(--just-white);
    box-shadow: 0 4px 8px rgba(89,73,30, 0.16);
    border-radius: 15px;
    margin-bottom: 50px;
}

.recomended{
    position: absolute;
    width: 120px;
    height: 30px;
    top: -10px;
    left: calc(50% - 60px);
    font-size: 1.2rem;
    padding: 6px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
}   

.plans-card--title{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}

.plans-card--price{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: black;
}

.plans-card--price sup{
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 25px;
}

.plans-card--info{
    font-size: 1.2rem;
    color: #757575;
    font-weight: 500;
    line-height: 1.5rem;
}

/*Fin de contenidos de precios*/

/* Inicio de Diseño de botones*/

.plans-card--button{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #faf8f7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--warm-black);
    font-family: "DM Sans", sans-serif;
}

.plans-card--button span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(./assets/icons/orange-right-arrow.svg);
    vertical-align: text-bottom;
}

.plans-card--button--second{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #faf8f7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--warm-black);
    font-family: "DM Sans", sans-serif;
}

.plans-card--button--second span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(./assets/icons/orange-right-arrow.svg);
    vertical-align: text-bottom;
}

.plans-card--button--third{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #faf8f7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--warm-black);
    font-family: "DM Sans", sans-serif;
}

.plans-card--button--third span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(./assets/icons/orange-right-arrow.svg);
    vertical-align: text-bottom;
}

/*Fin de Diseño de botones*/

/*Slider overdlow*/

.plans-container--slider{
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    padding-top: 13px;
    gap: 20px;
    margin: 0 65px 0px 65px;
}

.plans-container--slider::-webkit-scrollbar{
    background-color: var(--bitcoin-orange);
    height: 2px;
}

/*Slider overdlow*/

/*inicio de footer*/

footer{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

footer section{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

footer .left ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

footer .left li{
    margin: 10px 0;
}

.left li a{
    text-decoration: none;
    color: var(--just-white);
}
/*fin de footer*/